* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

nav {
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .left img {
  margin-right: 20px;
}

nav p {
  font-size: 14px;
  cursor: pointer;
}

nav .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ri-search-line {
  font-size: 15px;
}

.shopping-cart-line {
  font-size: 17px;
}

.Profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("https://plus.unsplash.com/premium_photo-1777558743611-5353cb215d09?w=600&auto=format&fit=crop&q=60");
  background-size: cover;
  background-position: center;
}

/* HERO SECTION */

section {
  position: relative;
  width: 95%;
  margin: auto;
}

section img {
  width: 100%;
  display: block;
}

/* CONTENT */

.content {
  position: absolute;
  top: 20%;
  left: 8%;

  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 500px;
}

.content h1 {
  font-size: 50px;
  font-weight: 600;
}

.content p {
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
}

.content button {
  padding: 14px 22px;
  font-size: 15px;
  background-color: #0067b8;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
}

/* CONTAINER 3 */

.container3 {
  width: 100%;
  padding: 60px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container3 .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.container3 .box p {
  color: #0067b8;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.container3 .box img {
  width: 60px;
}

/* CONTAINER 4 */

.container4 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 120px;
}

.container4 .box {
  width: 23%;
  min-height: 450px;
  background-color: white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.16);

  display: flex;
  flex-direction: column;
}

.container4 .box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.container4 .box .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex: 1;
}

.text h1 {
  font-size: 30px;
  font-weight: 500;
}

.text p {
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
}
.text button {
  padding: 12px 18px;
  font-size: 14px;
  background-color: #0067b8;
  color: white;
  border: none;
  width: fit-content;
  cursor: pointer;

  margin-top: auto;
  align-self: flex-start;
}
.container5{
    position: relative;
    width: 90%;
    height: 600px;

    margin: 80px auto;

    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP5-1596x600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container5 .content2{
    position: absolute;
    top: 50%;
    left: 8%;

    transform: translateY(-50%);

    width: 420px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    color: white;
}

.content2 h1{
    font-size: 55px;
    font-weight: 600;
    line-height: 1.1;
}

.content2 p{
    font-size: 24px;
    line-height: 1.6;
    font-weight: 400;
}

.content2 button{
    padding: 14px 26px;
    background-color: #0067b8;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    width: fit-content;
}

.content2 button:hover{
    background-color: #005499;
} 
/* FOOTER */

.footer{
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 80px;
}

/* SOCIAL SECTION */

.footer-top{
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0;
}

.social{
    display: flex;
    align-items: center;
    gap: 25px;
}

.social p{
    font-size: 18px;
    color: #000;
}

.social i{
    font-size: 28px;
    cursor: pointer;
    color: #000;
}

.back{
    padding: 12px 20px;
    background-color: #d9d9d9;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 18px;
}

/* FOOTER LINKS */

.footer-links{
    width: 100%;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-between;

    padding: 50px 90px;
}

.footer-links .column{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-links .column h3{
    font-size: 22px;
    color: #616161;
    margin-bottom: 10px;
}

.footer-links .column p{
    font-size: 14px;
    color: #616161;
    cursor: pointer;
}

/* BOTTOM FOOTER */

.bottom-footer{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 90px 40px 90px;

    background-color: #f2f2f2;
}

.bottom-left{
    display: flex;
    align-items: center;
    gap: 20px;

    flex-wrap: wrap;
}

.bottom-left p{
    font-size: 13px;
    color: #616161;
    cursor: pointer;
}

.bottom-right{
    display: flex;
    align-items: center;
    gap: 25px;

    flex-wrap: wrap;
}

.bottom-right p{
    font-size: 13px;
    color: #616161;
    cursor: pointer;
}